* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: dosis;
    src: url("fonts/Dosis-Medium.otf");
}

body {
    background: linear-gradient(to bottom, #cb60b3 0%, #ad1283 50%, #4038af 100%);
    font-family: dosis;
}

header {
    background-color: rgba(245, 240, 240, 0.5);
}

header h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #642ba0;
    margin-bottom: 15px;
}

.navegacion {
    display: flex;
    justify-content: center;
}

.navegacion ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;

}

.navegacion ul li {
    list-style-type: none;
    margin-left: 25px;
    margin-bottom: 20px;
}

.navegacion a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    border: solid 2px black;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    background-color: #357eae;
}

.navegacion a:hover {
    color: #ad1283;
    transition: 0.5s;
    background-color: #642ba0;

}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.productContainer {
    display: flex;
    margin: 5% auto 15% auto;
    padding: 2% 3% 5% 3%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    background-color: #969696;
    border: solid 3px black;
    gap: 20px;
}

.imageContainer {
    display: flex;
    justify-content: left;
    padding: 10px;
    width: 450px;
    height: 450px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: #DED3D3;
    box-shadow: 10px 5px 5px black;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    border: solid 3px black;
    border-radius: 5px;
}

.descripctionWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}

.descripcion {
    display: flex;
    justify-content: left;
    margin-bottom: 0;
}

.descripcion h1 {
    background-color: rgba(245, 240, 240, 0.5);
    text-align: left;
    margin-left: 50px;
    text-shadow: 2px 2px 2px #642ba0;
    border-radius: 5px;
    font-size: 70px;
}

.descripcion1 {
    background-color: rgba(245, 240, 240, 0.5);
    text-align: left;
    font-size: 25px;
    width: fit-content;
    border-radius: 5px;
    margin-top: 120px;
    margin-left: 50px;
    padding-right: 3px;
}

.descripcion1 h2 {
    background-color: rgba(245, 240, 240, 0.5);
    text-shadow: 2px 2px 2px #642ba0;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
}

.list ul {
    list-style-position: inside;
    padding-left: 10px;
}

button {
    width: 250px;
    height: 60px;
    margin-top: 300px;
    margin-left: 50px;
    background-color: #ad1283;
    border: solid 3px black;
    font-family: dosis;
    word-spacing: 4px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.5s;
    box-shadow: 10px 5px 5px black;
}

button:hover {
    color: black;
    background-color: whitesmoke;
    transition: 0.5s;
}

button:active {
    color: black;
    background-color: whitesmoke;
    transform: translateY(40px);
}

button i {
    margin-right: 25px;
}

.footerContent {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    background-color: darkslategrey;
}

.footerContent p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.socials ul {
    display: flex;
    justify-content: space-evenly;
}

.socials ul li {
    list-style-type: none;
}

.socials a {
    text-decoration: none;
    color: whitesmoke;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border: solid 2px black;
    display: inline-block;
    position: relative;
    animation: circle 10.5s linear infinite;
    box-shadow: 3px 3px 3px #642ba0, -3px 3px 3px #ad1283;
}

.circle p {
    color: black;
    margin-top: 10px;
    font-size: 11px;
}

#instagram {
    color: #f11ec4;
    transition: 0.5s;
}

#facebook {
    color: #357eae;
    transition: 0.5s;
}

#instagram:hover {
    color: whitesmoke;
    transition: 0.5s;
}

#facebook:hover {
    color: whitesmoke;
    transition: 0.5s;
}

@keyframes circle {
    0% {
        left: -600px;
    }

    50% {
        right: 200px;
    }

    100% {
        left: 600px;
    }
}

@media (min-width: 250px) and (max-width: 400px){
    .productContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
         text-align: center;
         padding: 3% 15% 29% 3%;
    }

    .imageContainer{
        width: 150px;
        height: 150px;
    }
    .imageContainer img{
        width: 100%;
        height: 100%;
    }

    .descripcion h1{
        text-align: center;
        margin-top: 20px;
    }

    .descripcion1 h2{
        text-align: center;
    }
}

@media (min-width: 400px) and (max-width: 576px){
    .productContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
         text-align: center;
         padding: 3% 15% 29% 3%;
    }

    .imageContainer{
        width: 350px;
        height: 350px;
    }

    .descripcionWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .descripcion h1{
        text-align: center;
        margin-top: 20px;
    }

    .descripcion1 h2{
        text-align: center;
    }

    .list li{
        margin-bottom: 5px;
    }

    button{
        margin-top: 10px;
        font-size: 30px;
        height: 100px;
        padding-bottom: 17px;
    }
}

@media (min-width: 550px) and (max-width: 600px){
    .productContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
         text-align: center;
         padding: 3% 20% 29% 3%;
    }

    .imageContainer{
        width: 350px;
        height: 350px;
        margin-left: 60px;
    }

    .descripcionWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }

    .descripcion h1{
        text-align: center;
        margin-top: 20px;
    }

    .descripcion1 h2{
        text-align: center;
    }

    .list li{
        margin-bottom: 5px;
    }

    button{
        margin-top: 10px;
        font-size: 30px;
        height: 100px;
        padding-bottom: 17px;
        margin-left: 100px;
    }
}

@media (min-width: 601px) and (max-width: 625px) {
    .productContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
         text-align: center;
         padding: 3% 20% 29% 3%;
    }

    .imageContainer{
        width: 350px;
        height: 350px;
        margin-left: 60px;
    }

    .descripcionWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }

    .descripcion h1{
        text-align: center;
        margin-top: 20px;
    }

    .descripcion1 h2{
        text-align: center;
    }

    .list li{
        margin-bottom: 5px;
    }

    button{
        margin-top: 10px;
        font-size: 30px;
        height: 100px;
        padding-bottom: 17px;
        margin-left: 120px;
    }
}
@media (min-width: 626px) and (max-width: 700px) {
    .productContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
         text-align: center;
         padding: 3% 20% 29% 3%;
    }

    .imageContainer{
        width: 350px;
        height: 350px;
        margin-left: 80px;
    }

    .descripcionWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }

    .descripcion h1{
        text-align: center;
        margin-top: 20px;
    }

    .descripcion1 h2{
        text-align: center;
    }

    .list li{
        margin-bottom: 5px;
    }

    button{
        margin-top: 10px;
        font-size: 30px;
        height: 100px;
        padding-bottom: 17px;
        margin-left: 150px;
    }
}

@media (min-width: 601px) and (max-width: 625px) {
    .productContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
         text-align: center;
         padding: 3% 20% 29% 3%;
    }

    .imageContainer{
        width: 350px;
        height: 350px;
        margin-left: 60px;
    }

    .descripcionWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }

    .descripcion h1{
        text-align: center;
        margin-top: 20px;
    }

    .descripcion1 h2{
        text-align: center;
    }

    .list li{
        margin-bottom: 5px;
    }

    button{
        margin-top: 10px;
        font-size: 30px;
        height: 100px;
        padding-bottom: 17px;
        margin-left: 120px;
    }
}
@media (min-width: 701px) and (max-width: 900px) {
    .productContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
         text-align: center;
         padding: 3% 20% 29% 3%;
    }

    .imageContainer{
        width: 350px;
        height: 350px;
        margin-left: 80px;
    }

    .descripcionWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
    }

    .descripcion h1{
        text-align: center;
        margin-top: 20px;
    }

    .descripcion1 h2{
        text-align: center;
    }

    .list li{
        margin-bottom: 5px;
    }

    button{
        margin-top: 10px;
        font-size: 30px;
        height: 100px;
        padding-bottom: 17px;
        margin-left: 150px;
    }
}